<%- include('../partials/user-header.ejs') %>

    <div class="container mt-4 bg-dark">
        <div class="col-auto my-2 pt-2 text-white">
            <h2 name="name" class="card-title mt-2">
                <%= product.name %>
            </h2>
            <p class="card-text">
                <%= product.desc %>
            </p>
            <h5 name="price" class="card-title text-warning">฿ <%= product.price %></span></h5>
            <form action="/user/cart/add/<%= product._id %>" method="POST">
                <div class="form-floating mt-3 text-dark">
                    <input name="quantity" type="number" class="form-control form-control-sm text-center" id="floatingInput"
                        placeholder="quantity" value="1" required>
                    <label for="floatingInput">Product quantity</label>
                </div>
                <div class="text-end text-center mt-4">
                    <button type="submit" class="btn btn-warning me-4 mb-4">Add to
                        Cart</button>
                </div>
        </div>
        </form>
        <div class="col-auto">
            <div class="card mb-3">
                <img name="image" src="<%= product.image %>" class="card-img-top" style="height: 100%;"
                    alt="<%= product.name %>">
            </div>
        </div>
    </div>
    </div>
    </div>

    <%- include('../partials/user-footer.ejs') %>