<%- include('../partials/user-header.ejs') %>

    <div class="container">
        <div class="row row-cols-lg-2 row-cols-sm-1 row-cols-1 mt-4">
            <div class="col card">
                <img src="<%= product.image %>" alt="<%= product.name %>">
            </div>
            <div class="col card">
                <!-- Product Name -->
                <h2 class="card-title mt-2">
                    <%= product.name %>
                </h2>
                <!-- Product Description -->
                <p class="card-text">
                    <%= product.desc %>
                </p>
                <!-- Product Price -->
                <h5 class="card-title float-start">฿ <%= product.price %>
                </h5>
                <form action="/user/cart/add/<%= product._id %>" method="post">
                    <div class="form-floating mt-5 mb-2">
                        <input name="quantity" type="number" value="1" min="1" class="form-control text-center" required>
                        <label for="floatingQuantity">Product quantity</label>
                    </div>
                    <button type="submit" class="btn btn-warning float-end w-100">Add to cart</button>
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/user-footer.ejs') %>