<%- include('../partials/admin-header.ejs') %>

<div class="container mt-4">
    <h2>Order Record</h2>
    <hr class="divider">
    <table class="table text-start">
        <thead>
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Sold (Order)</th>
              <th scope="col">Sold (Piece)</th>
              <th scope="col">Networth</th>
            </tr>
          </thead>
          <tbody>
            <% let i=0 %>
            <% product.forEach(function(product){ %>
            <% i +=1 %>
            <tr>
                <th>
                  <%= i.toLocaleString() %>
                </th>
                <td>
                  <%= product.name %>
                </td>
                <td>
                  ฿ <%= product.price.toLocaleString() %>
                </td>
                <td>
                    <%= product.so.toLocaleString() %>
                </td>
                <td>
                    <%= product.sp.toLocaleString() %>
                </td>        
                <td>
                  <%= product.networth.toLocaleString() %>
              </td>  
              </tr>
              <% }) %>
      </tbody>
    </table>
</div>

<%- include('../partials/admin-footer.ejs') %>